*.swp
*.pyc
tags
__pycache__/
docs/_build/
dist/
*.egg-info/
.venv*/
.tox/
.cache/
.coverage
htmlcov/
.idea/
.pytest_cache/
build/
*.so
_bspl.*.pyd
_bspl.c
docs/auto_*
docs/api/
version.py
wheelhouse/
