name: Test

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    fail-fast: false
    matrix:
      python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]
      os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies and build
        run: |
          python -m pip install --upgrade pip
          python -m pip install -v -e .[test]

      - name: Run tests
        run: python -m pytest
